<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428108655369-f79ki7vq64rh6e5r4b17jfm5l6p8pmi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428108655369-f79ki7vq64rh6e5r4b17jfm5l6p8pmi7</string>
	<key>API_KEY</key>
	<string>AIzaSyCa6ZCP2v13A3z5jCNQrCzacPFjs3e2FRA</string>
	<key>GCM_SENDER_ID</key>
	<string>428108655369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncbf</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-6d265</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-6d265.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428108655369:ios:e3bdb840a4ea9cfc9541d8</string>
</dict>
</plist>